:host {
  display: block;
}

.modal {
  position: fixed;
  top: calc(50% - 325px);
  z-index: 1001;
  border: none;
  border-radius: 8px;
  padding: 20px 60px 30px;
  width: 80%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;

  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.55);
  }

  &__content {
  }
}